.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#second {
    display: none;
}

p {
    font-size: 20px;
}

img {
    width: 55vw;
    margin-bottom: 4vw;
    margin-top: 6vw;
    border: 3px solid #141619;
}

.progress-bar {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #141619;
    animation: fill 30s infinite;
}

@keyframes fill {
    0% {
        width: 10;
    }

    100% {
        width: 100%;
    }
}

.fading-bars {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.bar {
    width: 30px;
    height: 120px;
    background-color: #141619;
    animation: fade 2s infinite;
}

.bar:nth-child(1) {
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.4s;
}

.bar:nth-child(4) {
    animation-delay: 0.6s;
}

.bar:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}