body {
    font-family: 'Ubuntu';
    margin: 0 auto;
}

.main-container {
    display: flex;
    margin-top: 2vw;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dots::after {
    content: '';
    display: inline-block;
    width: fit-content;
    text-align: left;
    animation: dots 4s steps(5, end) infinite;
}

@keyframes dots {
    0% {
        content: '';
    }

    20% {
        content: '. ';
    }

    40% {
        content: '. . ';
    }

    60% {
        content: '. . . ';
    }

    80% {
        content: '. . . . ';
    }

    100% {
        content: '. . . . . ';
    }
}

.sub-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

p {
    font-size: 1.5vw;
    line-height: 3vw;
}

iframe {
    width: 50%;
    height: 30vw;
    border: 0.2vw solid #191919;
    border-radius: 1vw;
}

.on-phone {
    display: none;
}

img {
    width: 90%;
    border: 0.2vw solid #141619;
    border-radius: 1vw;
    margin-top: 4vw;
}

figcaption {
    padding-top: 0.5vw;
    padding-bottom: 4vw;
    font-size: 1.5vw;
}

@media screen and (max-width: 767px) {
    .sub-container {
        flex-direction: column;
        width: 100%;
    }

    p {
        font-size: 3vw;
        line-height: 5vw;
    }

    iframe {
        width: 90%;
        height: 90vw;
    }

    .on-phone {
        display: flex;
    }

    figcaption {
        font-size: 2.5vw;
    }

}