* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 95%;
    width: 95%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
}

.title-area {
    height: fit-content;
    margin: 2vw 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding-bottom: 5px;
}

.content {
    display: flex;
    align-items: stretch;
}

.course-input {
    display: flex;
    flex-basis: 25%;
    height: fit-content;
    min-height: 37vw;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 12px;
    border: 2px solid #141619;
    border-radius: 10px;
    margin: 0 auto;
}

.input-title {
    display: flex;
    height: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 0.5vw 0;
    font-size: 1.8vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.input-area {
    display: flex;
    height: max-content;
    flex-direction: column;
    margin-top: 5px;
    justify-content: space-evenly;
}

.input-area label {
    padding: 7px 10px;
}

.course-code {
    display: flex;
    margin: 0.8vw 0;
    padding: 0.4vw;
    font-size: 1.1vw;
    border: 2px solid black;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.course-code:hover {
    border: 2px solid grey;
    background-color: transparent;
}

.course-code::placeholder {
    color: darkgrey;
}

.course-code::placeholder:hover {
    color: white;
}

.course-type {
    display: flex;
    justify-content: center;
    margin: 0.8vw 0;
}

.theory-btn {
    display: flex;
    justify-content: center;
    width: 40%;
    height: fit-content;
    margin: 0 10px;
    padding: 0.4vw 20px;
    background-color: #141619;
    color: white;
    font-size: 1.5vw;
    border: 2px solid #141619;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.theory-btn:hover {
    background-color: #141619;
    color: white;
}

.lab-btn {
    display: flex;
    justify-content: center;
    width: 40%;
    height: fit-content;
    margin: 0 10px;
    padding: 0.4vw 20px;
    background-color: transparent;
    color: darkgray;
    font-size: 1.5vw;
    border: 2px solid lightgray;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.lab-btn:hover {
    background-color: #141619;
    color: white;
}

.details-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course-day {
    display: flex;
    justify-content: center;
    margin: 0.4vw;
}

.theory-day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lab-day {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.theory-day input[type="radio"] {
    margin-right: 5px;
}

.lab-day input[type="radio"] {
    margin-right: 5px;
}

.course-time {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.4vw 0;
}

.theory-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.lab-time {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.add-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5vw 20px;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.add-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.routine-table {
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    margin: 0 1vw;
    padding: 1vw;
    justify-content: center;
    border-radius: 10px;
}

table {
    flex-wrap: wrap;
    height: 33vw;
    width: 100%;
    table-layout: fixed;
    background: #141614;
    border-radius: 7px;
    border: 2px solid black;
}

th,
td {
    word-wrap: break-word;
    white-space: normal;
    padding: 0.2vw;
    border-radius: 4px;
    text-align: center;
    font-size: 1vw;
    background-color: #f2f2f2;
}


.tools {
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.clearing-btn {
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 0.8vw 20px;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.clearing-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}