* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: #f4f4f4;

}

.container {
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}

.content {
    display: flex;
}

.course-input {
    /* display: flex; */
    width: 30%;
    padding: 10px;
    border: 3px solid #141619;
    border-radius: 10px;
}

.input-title {
    display: flex;
    height: 8%;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.input-area {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.input-area label{
    padding: 7px 10px;
}

.course-code {
    margin: 10px;
    padding: 15px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.course-code::placeholder{
    text-align: center;
}

.course-type{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.course-day{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.course-time{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: start;
}

.add-btn {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.routine-table {
    width: 80%;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

